.w3-theme {color:#fff !important;background-color:#673ab7 !important}
.w3-theme-light {color:#000 !important;background-color:#ede7f6 !important}
.w3-theme-dark {color:#fff !important;background-color:#311b92 !important}
.w3-text-theme {color:#673ab7 !important}
.w3-theme-l5 {color:#000 !important;background-color:#ede7f6 !important}
.w3-theme-l4 {color:#000 !important;background-color:#d1c4e9 !important}
.w3-theme-l3 {color:#000 !important;background-color:#b39ddb !important}
.w3-theme-l2 {color:#fff !important;background-color:#9575cd !important}
.w3-theme-l1 {color:#fff !important;background-color:#7e57c2 !important}
.w3-theme-d1 {color:#fff !important;background-color:#5e35b1 !important}
.w3-theme-d2 {color:#fff !important;background-color:#512da8 !important}
.w3-theme-d3 {color:#fff !important;background-color:#4527a0 !important}
.w3-theme-d4 {color:#fff !important;background-color:#311b92 !important}
.w3-theme-action {color:#fff !important;background-color:#4527a0 !important}