.w3-theme {color:#000 !important;background-color:#9e9e9e !important}
.w3-theme-light {color:#000 !important;background-color:#eeeeee !important}
.w3-theme-dark {color:#fff !important;background-color:#616161 !important}
.w3-text-theme {color:#757575 !important}
.w3-theme-l5 {color:#000 !important;background-color:#fafafa !important}
.w3-theme-l4 {color:#000 !important;background-color:#f5f5f5 !important}
.w3-theme-l3 {color:#000 !important;background-color:#eeeeee !important}
.w3-theme-l2 {color:#000 !important;background-color:#e0e0e0 !important}
.w3-theme-l1 {color:#000 !important;background-color:#bdbdbd !important}
.w3-theme-d1 {color:#fff !important;background-color:#757575 !important}
.w3-theme-d2 {color:#fff !important;background-color:#616161 !important}
.w3-theme-d3 {color:#fff !important;background-color:#424242 !important}
.w3-theme-d4 {color:#fff !important;background-color:#212121 !important}
.w3-theme-action {color:#fff !important;background-color:#000 !important}