.w3-theme {color:#fff !important;background-color:#607d8b !important}
.w3-theme-light {color:#000 !important;background-color:#eceff1 !important}
.w3-theme-dark {color:#fff !important;background-color:#263238 !important}
.w3-text-theme {color:#607d8b !important}
.w3-theme-l5 {color:#000 !important;background-color:#eceff1 !important}
.w3-theme-l4 {color:#000 !important;background-color:#cfd8dc !important}
.w3-theme-l3 {color:#000 !important;background-color:#b0bec5 !important}
.w3-theme-l2 {color:#000 !important;background-color:#90a4ae !important}
.w3-theme-l1 {color:#fff !important;background-color:#78909c !important}
.w3-theme-d1 {color:#fff !important;background-color:#546e7a !important}
.w3-theme-d2 {color:#fff !important;background-color:#455a64 !important}
.w3-theme-d3 {color:#fff !important;background-color:#37474f !important}
.w3-theme-d4 {color:#fff !important;background-color:#263238 !important}
.w3-theme-action {color:#fff !important;background-color:#37474f !important}