.w3-theme {color:#fff !important;background-color:#F44336 !important}
.w3-theme-light {color:#000 !important;background-color:#FFEBEE !important}
.w3-theme-dark {color:#fff !important;background-color:#B71C1C !important}
.w3-text-theme {color:#F44336 !important}
.w3-theme-l5 {color:#000 !important;background-color:#FFEBEE !important}
.w3-theme-l4 {color:#000 !important;background-color:#FFCDD2 !important}
.w3-theme-l3 {color:#000 !important;background-color:#EF9A9A !important}
.w3-theme-l2 {color:#000 !important;background-color:#E57373 !important}
.w3-theme-l1 {color:#fff !important;background-color:#EF5350 !important}
.w3-theme-d1 {color:#fff !important;background-color:#E53935 !important}
.w3-theme-d2 {color:#fff !important;background-color:#D32F2F !important}
.w3-theme-d3 {color:#fff !important;background-color:#C62828 !important}
.w3-theme-d4 {color:#fff !important;background-color:#B71C1C !important}
.w3-theme-action {color:#fff !important;background-color:#C62828 !important}