.w3-theme {color:#000 !important;background-color:#f0e68c !important}
.w3-theme-light {color:#000 !important;background-color:#ffffd7 !important}
.w3-theme-dark {color:#000 !important;background-color:#a0963c !important}
.w3-text-theme {color:#b4aa50 !important}
.w3-theme-l5 {color:#000 !important;background-color:#ffffd7 !important}
.w3-theme-l4 {color:#000 !important;background-color:#ffffc8 !important}
.w3-theme-l3 {color:#000 !important;background-color:#ffffb9 !important}
.w3-theme-l2 {color:#000 !important;background-color:#ffffaa !important}
.w3-theme-l1 {color:#000 !important;background-color:#fff59b !important}
.w3-theme-d1 {color:#000 !important;background-color:#dcd278 !important}
.w3-theme-d2 {color:#000 !important;background-color:#c8be64 !important}
.w3-theme-d3 {color:#000 !important;background-color:#b4aa50 !important}
.w3-theme-d4 {color:#000 !important;background-color:#a0963c !important}
.w3-theme-action {color:#fff !important;background-color:#a0963c !important}