.w3-theme {color:#fff !important;background-color:#795548 !important}
.w3-theme-light {color:#000 !important;background-color:#d7ccc8 !important}
.w3-theme-dark {color:#fff !important;background-color:#4e342e !important}
.w3-text-theme {color:#795548 !important}
.w3-theme-l5 {color:#000 !important;background-color:#efebe9 !important}
.w3-theme-l4 {color:#000 !important;background-color:#d7ccc8 !important}
.w3-theme-l3 {color:#000 !important;background-color:#bcaaa4 !important}
.w3-theme-l2 {color:#fff !important;background-color:#a1887f !important}
.w3-theme-l1 {color:#fff !important;background-color:#8d6e63 !important}
.w3-theme-d1 {color:#fff !important;background-color:#6d4c41 !important}
.w3-theme-d2 {color:#fff !important;background-color:#5d4037 !important}
.w3-theme-d3 {color:#fff !important;background-color:#4e342e !important}
.w3-theme-d4 {color:#fff !important;background-color:#3e2723 !important}
.w3-theme-action {color:#fff !important;background-color:#4e342e !important}