.w3-theme {color:#fff !important;background-color:#009688 !important}
.w3-theme-light {color:#000 !important;background-color:#e0f2f1 !important}
.w3-theme-dark {color:#fff !important;background-color:#004d40 !important}
.w3-text-theme {color:#009688 !important}
.w3-theme-l5 {color:#000 !important;background-color:#e0f2f1 !important}
.w3-theme-l4 {color:#000 !important;background-color:#b2dfdb !important}
.w3-theme-l3 {color:#000 !important;background-color:#80cbc4 !important}
.w3-theme-l2 {color:#000 !important;background-color:#4db6ac !important}
.w3-theme-l1 {color:#000 !important;background-color:#26a69a !important}
.w3-theme-d1 {color:#fff !important;background-color:#00897b !important}
.w3-theme-d2 {color:#fff !important;background-color:#00796b !important}
.w3-theme-d3 {color:#fff !important;background-color:#00695c !important}
.w3-theme-d4 {color:#fff !important;background-color:#004d40 !important}
.w3-theme-action {color:#fff !important;background-color:#00695c !important}