.w3-theme {color:#fff !important;background-color:#616161 !important}
.w3-theme-light {color:#000 !important;background-color:#efefef !important}
.w3-theme-dark {color:#fff !important;background-color:#131313 !important}
.w3-text-theme {color:#3a3a3a !important}
.w3-theme-l5 {color:#000 !important;background-color:#efefef !important}
.w3-theme-l4 {color:#000 !important;background-color:#dfdfdf !important}
.w3-theme-l3 {color:#000 !important;background-color:#c0c0c0 !important}
.w3-theme-l2 {color:#000 !important;background-color:#a0a0a0 !important}
.w3-theme-l1 {color:#000 !important;background-color:#818181 !important}
.w3-theme-d1 {color:#fff !important;background-color:#4e4e4e !important}
.w3-theme-d2 {color:#fff !important;background-color:#3a3a3a !important}
.w3-theme-d3 {color:#fff !important;background-color:#272727 !important}
.w3-theme-d4 {color:#fff !important;background-color:#131313 !important}
.w3-theme-action {color:#fff !important;background-color:#000 !important}