.w3-theme {color:#000 !important;background-color:#00bcd4 !important}
.w3-theme-light {color:#000 !important;background-color:#e0f7fa !important}
.w3-theme-dark {color:#fff !important;background-color:#006064 !important}
.w3-text-theme {color:#0097a7 !important}
.w3-theme-l5 {color:#000 !important;background-color:#e0f7fa !important}
.w3-theme-l4 {color:#000 !important;background-color:#b2ebf2 !important}
.w3-theme-l3 {color:#000 !important;background-color:#80deea !important}
.w3-theme-l2 {color:#000 !important;background-color:#4dd0e1 !important}
.w3-theme-l1 {color:#000 !important;background-color:#26c6da !important}
.w3-theme-d1 {color:#000 !important;background-color:#00acc1 !important}
.w3-theme-d2 {color:#fff !important;background-color:#0097a7 !important}
.w3-theme-d3 {color:#fff !important;background-color:#00838f !important}
.w3-theme-d4 {color:#fff !important;background-color:#006064 !important}
.w3-theme-action {color:#fff !important;background-color:#00838f !important}