.w3-theme {color:#000 !important;background-color:#87CEEB !important}
.w3-theme-light {color:#000 !important;background-color:#ebffff !important}
.w3-theme-dark {color:#fff !important;background-color:#4b92af !important}
.w3-text-theme {color:#87CEEB !important}
.w3-theme-l5 {color:#000 !important;background-color:#ebffff !important}
.w3-theme-l4 {color:#000 !important;background-color:#d7ffff !important}
.w3-theme-l3 {color:#000 !important;background-color:#c3ffff !important}
.w3-theme-l2 {color:#000 !important;background-color:#aff6ff !important}
.w3-theme-l1 {color:#000 !important;background-color:#9be2ff !important}
.w3-theme-d1 {color:#fff !important;background-color:#78bfdc !important}
.w3-theme-d2 {color:#fff !important;background-color:#69b0cd !important}
.w3-theme-d3 {color:#fff !important;background-color:#5aa1be !important}
.w3-theme-d4 {color:#fff !important;background-color:#4b92af !important}
.w3-theme-action {color:#fff !important;background-color:#4b92af !important}