/* 
 * $Id$
 */

/* Let no border around the body appear, and set
   it to display on a white background */
body, html {
    margin: 0px;
    padding: 0px;
    background-color: #FFFFFF;
}

/* Font settings for page elements */
body, ul, td, th, p, h1, h2, h3, h4, dt, small, .small,
.tableTitle, .tableExtras, input, textarea, select {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
code, pre, tt {
    font-family: Courier, "Courier New", monospace;
}

/* Default font size for elements */
body, ul, td, th {
    font-size: 90%;
}

li {
    padding-top: 3px;
    padding-bottom: 3px;
}

em {
    font-weight: bold;
    font-style: italic;
}

acronym {
    border-bottom: 1px dashed #00cc00;
    cursor: help;
}

.newsDate {
    font-size: 75%;
    font-style: italic;
    color: #6666CC;
}

.sidebar {
	font-size: 80%;
	padding: 5px;
}

.sidebar p {
	text-align: left !important;
}

a.menuWhite {
    font-size: 75%;
    color: #FFFFFF;
    text-decoration: none;
}

a.menuBlack {
    font-size: 75%;
    color: #000000;
    text-decoration: none;
}

pre, code, tt {
    font-size: 80%;
}

pre.code {
    background-color: #F0F0F0;
}

/* General header styles */
h1, h2, h3, h4, dt {
    font-weight: bold;
    color: #000066;
}
h1 { font-size: 130%; }
h2 { font-size: 125%; }
h3, dt { font-size: 110%; }
h4 {
    font-size: 90%;
    padding-top: 0px;
    padding-bottom: 0px;
}

blockquote {
    margin-left: 12px;
}

small {
    font-size: 75%;
}

a.small {
    font-size: 75%;
    text-decoration: none;
}

.tableTitle {
    font-weight: bold;
}

.tableExtras {
    font-size: 85%;
    color: #FFFFFF;
}

input.small, select.small {
    font-size: 75%;
}

textarea.small {
    font-size: 75%;
}

.programlisting {
    display: block;
    width: 100%;
    background-color: #E0E0E0
}

hr {
    border: 0px;
    color: black;
    background-color: black;
    height: 1px;
}

#docsupdates h3 {
    margin-top: 0px;
}

/*
 * Local variables:
 * tab-width: 4
 * c-basic-offset: 4
 * End:
 * vim: expandtab sw=4 ts=4 fdm=marker
 */
