/* 
 * $Id$
 */

.phpcode {
font-family: 'Courier New', Courier, monospace;
}
.phpcode .kw1 {
color: #b1b100;color: #907000; font-weight: bold
}
.phpcode .kw2 {
color: #000000; font-weight: bold;
}
.phpcode .kw3 {
color: #000066;
}
.phpcode .co1 {
color: #808080; font-style: italic;
}
.phpcode .co2 {
color: #808080; font-style: italic;
}
.phpcode .coMULTI {
color: #808080; font-style: italic;
}
.phpcode .es0 {
color: #000099; font-weight: bold;
}
.phpcode .br0 {
color: #66cc66;color: #404040
}
.phpcode .st0 {
color: #ff0000;color: green
}
.phpcode .nu0 {
color: #cc66cc;color: #aa0000; font-weight: bold
}
.phpcode .me0 {
color: #006600;color: black; font-style: italic
}
.phpcode .re0 {
color: #0000ff;color: #004090
}

/*
 * Local variables:
 * tab-width: 4
 * c-basic-offset: 4
 * End:
 * vim: expandtab sw=4 ts=4 fdm=marker
 */
