/* 
 * $Id$
 */

.phpcode {
font-family: monospace, 'Courier New', Courier; font-size: 90%;
}
.phpcode .kw1 {
color: #d09010; font-weight: bold; background-color: inherit;
}
.phpcode .kw2 {
color: #000000; font-weight: bold; background-color: inherit;
}
.phpcode .kw3 {
color: #000066; font-weight: bold; background-color: inherit;
}
.phpcode .co1 {
color: #808080; font-style: italic; background-color: inherit;
}
.phpcode .co2 {
color: #808080; font-style: italic; background-color: inherit;
}
.phpcode .coMULTI {
color: #808080; font-style: italic; background-color: inherit;
}
.phpcode .es0 {
color: green; font-weight: bold; background-color: inherit;
}
.phpcode .br0 {
color: #404040; background-color: inherit;
}
.phpcode .st0 {
color: green; background-color: inherit;
}
.phpcode .nu0 {
color: #6600cc; background-color: inherit;
}
.phpcode .me0 {
color: black; font-style: italic; background-color: inherit;
}
.phpcode .re0 {
color: #004090; background-color: inherit;
}

/*
 * Local variables:
 * tab-width: 4
 * c-basic-offset: 4
 * End:
 * vim: expandtab sw=4 ts=4 fdm=marker
 */
