/* 
 * $Id$
 */

.phpcode {
font-family: monospace, 'Courier New', Courier;
font-size: 90%;
}
.phpcode .kw1 {
color: #d09010; font-weight: bold
}
.phpcode .kw2 {
color: #000000; font-weight: bold;
}
.phpcode .kw3 {
color: #000066; font-weight: bold;
}
.phpcode .co1 {
color: #808080; font-style: italic;
}
.phpcode .co2 {
color: #808080; font-style: italic;
}
.phpcode .coMULTI {
color: #808080; font-style: italic;
}
.phpcode .es0 {
color: green; font-weight: bold;
}
.phpcode .br0 {
color: #404040
}
.phpcode .st0 {
color: green
}
.phpcode .nu0 {
color: #6600cc
}
.phpcode .me0 {
color: black; font-style: italic
}
.phpcode .re0 {
color: #004090
}

/*
 * Local variables:
 * tab-width: 4
 * c-basic-offset: 4
 * End:
 * vim: expandtab sw=4 ts=4 fdm=marker
 */
