/* 
 * $Id$
 */

/* Let no border around the body appear, and set
   it to display on a white background */
body, html {
    margin: 0px;
    padding: 0px;
    background-color: #FFF;
	color: #000;
}

/* Font settings for page elements */
body, ul, td, th, p, h1, h2, h3, h4, dt, small, .small,
.tableTitle, .tableExtras, input, textarea, select {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
code, pre, tt {
    font-family: Courier, "Courier New", monospace;
}

/* Default font size for elements */
body {
    font-size: .85em;
}

li {
    padding-top: 3px;
    padding-bottom: 3px;
}

em {
    font-weight: bold;
    font-style: italic;
}

acronym {
    border-bottom: 1px dashed #00cc00;
    cursor: help;
}

.newsDate {
    font-size: .75em;
    font-style: italic;
    color: #66C;
	background-color: inherit;
}

.sidebar {
	font-size: .80em;
	padding: 5px;
}

.sidebar p {
	text-align: left !important;
}

a.menuWhite {
    font-size: .75em;
    color: #FFF;
    text-decoration: none;
	background-color: inherit;
}

a.menuBlack {
    font-size: .75em;
    color: #000;
    text-decoration: none;
	background-color: inherit;
}

pre, code {
    font-size: .80em;
}

pre.code {
    background-color: #F0F0F0;
	color: inherit;
}

/* General header styles */
h1, h2, h3, h4, dt {
    font-weight: bold;
    color: #006;
	background-color: inherit;
}
h1 { font-size: 1.30em; }
h2 { font-size: 1.25em; }
h3, dt { font-size: 1.10em; }
h4 {
    font-size: .90em;
    padding-top: 0px;
    padding-bottom: 0px;
}

blockquote {
    margin-left: 12px;
}

small {
    font-size: .75em;
}

a.small {
    font-size: .75em;
    text-decoration: none;
}

.tableTitle {
    font-weight: bold;
}

.tableExtras {
    font-size: .85em;
    color: #FFF;
	background-color: inherit;
}

input.small, select.small {
    font-size: .75em;
}

textarea.small {
    font-size: .75em;
}

.programlisting {
    display: block;
    width: 100%;
    background-color: #E0E0E0;
	color: inherit;
}

hr {
    border: 0px;
    color: #000;
    background-color: black;
    height: 1px;
}

#docsupdates h3 {
    margin-top: 0px;
}

/*
 * Local variables:
 * tab-width: 4
 * c-basic-offset: 4
 * End:
 * vim: expandtab sw=4 ts=4 fdm=marker
 */
