/* 
 * $Id$
 */

body, td, th {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 95%;
}

em {
    font-weight: bold;
    font-style: italic;
}

.newsDate {
    font-size: 75%;
    font-style: italic;
    color: #6666CC;
}

a.menuWhite {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75%;
    color: #FFFFFF;
}

a.menuBlack {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75%;
    color: #000000;
}

.sidebar {
    font-size: 75%;
}

pre, code, tt {
    font-family: Courier, "Courier New", monospace;
    font-size: 80%;
}

pre.code {
    background-color: #F0F0F0;
}

/* General header styles */
h1, h2, h3, h4, dt {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #000066;
}
h1 { font-size: 130%; }
h2 { font-size: 125%; }
h3, dt { font-size: 110%; }
h4 {
    font-size: 90%;
    padding-top: 0px;
    padding-bottom: 0px;
}

blockquote {
    margin-left: 12px;
}

small {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75%;
}

a.small {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75%;
    text-decoration: none;
}

.tableTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.tableExtras {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85%;
    color: #FFFFFF;
}

input {
    font-family: Arial, Helvetica, sans-serif;
}

textarea {
    font-family: Courier, "Courier New", monospace;
}

input.small, select.small {
    font-family: arial,helvetica,sans-serif;
    font-size: 75%;
}

textarea.small {
    font-family: Courier, "Courier New", monospace;
    font-size: 75%;
}

.programlisting {
    display: block;
    width: 100%;
    background-color: #E0E0E0
}

hr {
    border: 0px;
    color: black;
    background-color: black;
    height: 1px;
}

/*
 * Local variables:
 * tab-width: 4
 * c-basic-offset: 4
 * End:
 * vim: expandtab sw=4 ts=4 fdm=marker
 */
