.w3-theme {color:#fff !important;background-color:#000 !important}
.w3-theme-light {color:#000 !important;background-color:#eee !important}
.w3-theme-dark {color:#fff !important;background-color:#000 !important}
.w3-text-theme {color:#000 !important}
.w3-theme-l5 {color:#000 !important;background-color:#eee !important}
.w3-theme-l4 {color:#000 !important;background-color:#d0d0d0 !important}
.w3-theme-l3 {color:#000 !important;background-color:#b0b0b0 !important}
.w3-theme-l2 {color:#fff !important;background-color:#777777 !important}
.w3-theme-l1 {color:#fff !important;background-color:#595959 !important}
.w3-theme-d1 {color:#fff !important;background-color:#000 !important}
.w3-theme-d2 {color:#fff !important;background-color:#000 !important}
.w3-theme-d3 {color:#fff !important;background-color:#000 !important}
.w3-theme-d4 {color:#fff !important;background-color:#000 !important}
.w3-theme-action {color:#fff !important;background-color:#000 !important}