.w3-theme {color:#000 !important;background-color:#8bc34a !important}
.w3-theme-light {color:#000 !important;background-color:#f1f8e9 !important}
.w3-theme-dark {color:#fff !important;background-color:#33691e !important}
.w3-text-theme {color:#8bc34a !important}
.w3-theme-l5 {color:#000 !important;background-color:#f1f8e9 !important}
.w3-theme-l4 {color:#000 !important;background-color:#dcedc8 !important}
.w3-theme-l3 {color:#000 !important;background-color:#c5e1a5 !important}
.w3-theme-l2 {color:#000 !important;background-color:#aed581 !important}
.w3-theme-l1 {color:#000 !important;background-color:#9ccc65 !important}
.w3-theme-d1 {color:#000 !important;background-color:#7cb342 !important}
.w3-theme-d2 {color:#fff !important;background-color:#689f38 !important}
.w3-theme-d3 {color:#fff !important;background-color:#558b2f !important}
.w3-theme-d4 {color:#fff !important;background-color:#33691e !important}
.w3-theme-action {color:#fff !important;background-color:#33691e !important}