.w3-theme {color:#fff !important;background-color:#cddc39 !important}
.w3-theme-light {color:#000 !important;background-color:#f0f4c3 !important}
.w3-theme-dark {color:#fff !important;background-color:#9e9d24 !important}
.w3-text-theme {color:#cddc39 !important}
.w3-theme-l5 {color:#000 !important;background-color:#f0f4c3 !important}
.w3-theme-l4 {color:#000 !important;background-color:#e6ee9c !important}
.w3-theme-l3 {color:#000 !important;background-color:#dce775 !important}
.w3-theme-l2 {color:#000 !important;background-color:#d4e157 !important}
.w3-theme-l1 {color:#000 !important;background-color:#cddc39 !important}
.w3-theme-d1 {color:#fff !important;background-color:#c0ca33 !important}
.w3-theme-d2 {color:#fff !important;background-color:#afb42b !important}
.w3-theme-d3 {color:#fff !important;background-color:#949d24 !important}
.w3-theme-d4 {color:#fff !important;background-color:#827717 !important}
.w3-theme-action {color:#fff !important;background-color:#827717 !important}