.w3-theme {color:#000 !important;background-color:#ffc107 !important}
.w3-theme-light {color:#000 !important;background-color:#fff8e1 !important}
.w3-theme-dark {color:#000 !important;background-color:#ff6f00 !important}
.w3-text-theme {color:#ffc107 !important}
.w3-theme-l5 {color:#000 !important;background-color:#fff8e1 !important}
.w3-theme-l4 {color:#000 !important;background-color:#ffecb3 !important}
.w3-theme-l3 {color:#000 !important;background-color:#ffe082 !important}
.w3-theme-l2 {color:#000 !important;background-color:#ffd54f !important}
.w3-theme-l1 {color:#000 !important;background-color:#ffca28 !important}
.w3-theme-d1 {color:#000 !important;background-color:#f0b200 !important}
.w3-theme-d2 {color:#000 !important;background-color:#e1a300 !important}
.w3-theme-d3 {color:#000 !important;background-color:#d29400 !important}
.w3-theme-d4 {color:#000 !important;background-color:#c38500 !important}
.w3-theme-action {color:#fff !important;background-color:#d29400 !important}