.w3-theme {color:#000 !important;background-color:#ff9800 !important}
.w3-theme-light {color:#000 !important;background-color:#fff3e0 !important}
.w3-theme-dark {color:#fff !important;background-color:#e65100 !important}
.w3-text-theme {color:#ff9800 !important}
.w3-theme-l5 {color:#000 !important;background-color:#fff3e0 !important}
.w3-theme-l4 {color:#000 !important;background-color:#ffe0b2 !important}
.w3-theme-l3 {color:#000 !important;background-color:#ffcc80 !important}
.w3-theme-l2 {color:#000 !important;background-color:#ffb74d !important}
.w3-theme-l1 {color:#000 !important;background-color:#ffa726 !important}
.w3-theme-d1 {color:#000 !important;background-color:#fb8c00 !important}
.w3-theme-d2 {color:#000 !important;background-color:#f57c00 !important}
.w3-theme-d3 {color:#fff !important;background-color:#ef6c00 !important}
.w3-theme-d4 {color:#fff !important;background-color:#e65100 !important}
.w3-theme-action {color:#fff !important;background-color:#ef6c00 !important}