.w3-theme {color:#fff !important;background-color:#9c27b0 !important}
.w3-theme-light {color:#000 !important;background-color:#f3e5f5 !important}
.w3-theme-dark {color:#fff !important;background-color:#4a148c !important}
.w3-text-theme {color:#9c27b0 !important}
.w3-theme-l5 {color:#000 !important;background-color:#f3e5f5 !important}
.w3-theme-l4 {color:#000 !important;background-color:#e1bee7 !important}
.w3-theme-l3 {color:#000 !important;background-color:#ce93d8 !important}
.w3-theme-l2 {color:#fff !important;background-color:#ba68c8 !important}
.w3-theme-l1 {color:#fff !important;background-color:#ab47bc !important}
.w3-theme-d1 {color:#fff !important;background-color:#8e24aa !important}
.w3-theme-d2 {color:#fff !important;background-color:#7b1fa2 !important}
.w3-theme-d3 {color:#fff !important;background-color:#6a1b9a !important}
.w3-theme-d4 {color:#fff !important;background-color:#4a148c !important}
.w3-theme-action {color:#fff !important;background-color:#6a1b9a !important}