.w3-theme {color:#fff !important;background-color:#e91e63 !important}
.w3-theme-light {color:#000 !important;background-color:#fce4ec !important}
.w3-theme-dark {color:#fff !important;background-color:#880e4f !important}
.w3-text-theme {color:#e91e63 !important}
.w3-theme-l5 {color:#000 !important;background-color:#fce4ec !important}
.w3-theme-l4 {color:#000 !important;background-color:#f8bbd0 !important}
.w3-theme-l3 {color:#000 !important;background-color:#f48fb1 !important}
.w3-theme-l2 {color:#fff !important;background-color:#f06292 !important}
.w3-theme-l1 {color:#fff !important;background-color:#ec407a !important}
.w3-theme-d1 {color:#fff !important;background-color:#d81b60 !important}
.w3-theme-d2 {color:#fff !important;background-color:#c2185b !important}
.w3-theme-d3 {color:#fff !important;background-color:#ad1457 !important}
.w3-theme-d4 {color:#fff !important;background-color:#880e4f !important}
.w3-theme-action {color:#fff !important;background-color:#ad1457 !important}