.w3-theme {color:#fff !important;background-color:#ff5722 !important}
.w3-theme-light {color:#000 !important;background-color:#fbe9e7 !important}
.w3-theme-dark {color:#fff !important;background-color:#bf360c !important}
.w3-text-theme {color:#ff5722 !important}
.w3-theme-l5 {color:#000 !important;background-color:#fbe9e7 !important}
.w3-theme-l4 {color:#000 !important;background-color:#ffccbc !important}
.w3-theme-l3 {color:#000 !important;background-color:#ffab91 !important}
.w3-theme-l2 {color:#000 !important;background-color:#ff8a65 !important}
.w3-theme-l1 {color:#000 !important;background-color:#ff7043 !important}
.w3-theme-d1 {color:#fff !important;background-color:#f4511e !important}
.w3-theme-d2 {color:#fff !important;background-color:#e64a19 !important}
.w3-theme-d3 {color:#fff !important;background-color:#d84315 !important}
.w3-theme-d4 {color:#fff !important;background-color:#bf360c !important}
.w3-theme-action {color:#fff !important;background-color:#bf360c !important}