.w3-theme {color:#000 !important;background-color:#ffeb3b !important}
.w3-theme-light {color:#000 !important;background-color:#fffde7 !important}
.w3-theme-dark {color:#000 !important;background-color:#f57f17 !important}
.w3-text-theme {color:#d2be0e !important}
.w3-theme-l5 {color:#000 !important;background-color:#fffde7 !important}
.w3-theme-l4 {color:#000 !important;background-color:#fff9c4 !important}
.w3-theme-l3 {color:#000 !important;background-color:#fff59d !important}
.w3-theme-l2 {color:#000 !important;background-color:#fff176 !important}
.w3-theme-l1 {color:#000 !important;background-color:#ffee58 !important}
.w3-theme-d1 {color:#000 !important;background-color:#f0dc2c !important}
.w3-theme-d2 {color:#000 !important;background-color:#e1cd1d !important}
.w3-theme-d3 {color:#000 !important;background-color:#d2be0e !important}
.w3-theme-d4 {color:#000 !important;background-color:#c3af00 !important}
.w3-theme-action {color:#fff !important;background-color:#e1cd1d !important}