.w3-theme {color:#fff !important;background-color:#4CAF50 !important}
.w3-theme-light {color:#000 !important;background-color:#C8E6C9 !important}
.w3-theme-dark {color:#fff !important;background-color:#2E7D32 !important}
.w3-text-theme {color:#4CAF50 !important}
.w3-theme-l5 {color:#000 !important;background-color:#E8F5E9 !important}
.w3-theme-l4 {color:#000 !important;background-color:#C8E6C9 !important}
.w3-theme-l3 {color:#000 !important;background-color:#A5D6A7 !important}
.w3-theme-l2 {color:#000 !important;background-color:#81C784 !important}
.w3-theme-l1 {color:#000 !important;background-color:#66BB6A !important}
.w3-theme-d1 {color:#fff !important;background-color:#43A047 !important}
.w3-theme-d2 {color:#fff !important;background-color:#388E3C !important}
.w3-theme-d3 {color:#fff !important;background-color:#2E7D32 !important}
.w3-theme-d4 {color:#fff !important;background-color:#1B5E20 !important}
.w3-theme-action {color:#fff !important;background-color:#1B5E20 !important}