<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
    "http://www.w3.org/TR/html40/loose.dtd">
<html><head>
  <title>$WikiTitle - $HTMLTitle</title>
  <link rel='stylesheet' href='$FarmPubDirUrl/css/stdlayout.css' type='text/css' />
  <link rel='stylesheet' href='$FarmPubDirUrl/skins/print/print.css' type='text/css' />
  <!--HeaderText-->
</head>
<body>
  <div id='printhead'>
    <h3>From $WikiTitle</h3>
    <h1 class='pagename'><a href='$ScriptUrl/$Group'>$Group: $Title</a></h1>
  </div>
<!--PageText-->
  <div id='printfoot'>
    <div class='from'>$[Retrieved from $PageUrl]</div>
    <div class='lastmod'>$[Page last modified on $LastModified]</div></div>
</body>
</html>
